.search-wrapper1{
    float: right;
    /*margin-top: 24px;*/
    /*margin-right: 4px;*/
}
.delRecord{
    background-color: #3C91FD;
    border-radius: 10px;
    width: 80px;
    float: left;
    margin-left:20px;
    margin-right: 20px;
    margin-top:5px;
}
.table_list tbody>tr>td:first-child>span.nameTitpe{
    width: 418px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position: absolute;
    top: 12px;
    left: 32px;
}
/*.table_list tbody>tr>td:first-child>span.nameTitpe:hover{*/
    /*color: #3C91FD;*/
    /*cursor: pointer!important;*/
/*}*/
.clear-history {
    font-size: 14px;
    color: #222;
    background: #fff;
    border-radius: 1px;
    border: 1px solid #DBDBDB;
    opacity: 1;
    width: 88px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    margin-top: 11px;
    text-align: center;
    cursor: pointer;
}
.search-wrapper1>.clear-history>a{
    font-size: 14px;
    color: #222;
    line-height: 30px;
}
.message {
    height: 53px;
    font-size: 16px;
    padding: 0 0;
    width: auto;
    float: left;
    font-weight: bold;
    line-height: 53px;
    color: #333;
    padding-left: 20px !important;
}
#marg .file-container-flatten{height: 100% !important;}
@media only screen and (max-width: 1366px){
    .clear-history {
        font-size: 10px;
        height: 24px;
        line-height: 23px;
        width: 70px;
        margin-top: 12px;
    }
    .search-wrapper1>.clear-history>a{
        font-size: 10px;
        line-height: 23px;
    }
    .message {
        font-size: 13px;
        height: 45px;
        line-height: 45px;
    }
}
/*加载中样式*/
div#transLoading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}
