@charset "utf-8";
.delRecord{
    background-color: #2890ff;
    border-radius: 10px;
    width: 80px;
    float: left;
    margin-left:20px;
    margin-right: 20px;
    margin-top:5px;
}
.table_list tbody>tr>td:first-child>span.nameTitpe{
    width: calc(100% - 100px) !important;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    left: 50px;
    line-height: 17px;
    display: inline-block;
    position: relative !important;
    top: 4px !important;
}
#marg{
    /*height: 464px!important;*/
    /*min-height: 448px!important;*/
}
.button-area{
    height: 40px!important;
    border-bottom: 1px solid #fff;
}
.search-wrapper {
    margin-top: 10px!important;
}
.button-group {
    width: 50%;
}
.button-group .layui-btn:hover{color: #2890ff;}
.new-version {
    font-size: 14px;
    color: #5AA3FF;
    background: #fff;
    border: 1px solid #AACFFF;
    opacity: 1;
    border-radius: 2px;
    width: 111px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}
.delete-version {
    font-size: 14px;
    color: #5AA3FF;
    background: #fff;
    border: 1px solid #AACFFF;
    opacity: 1;
    border-radius: 2px;
    width: 60px;
    height: 30px;
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}
.new-version-tip{
    background: url(../../../../resources/img/front/file-icon/ic-new-version.png) no-repeat 0px 1px;
    width: 30px;
    height: 15px;
    position: absolute;
    top: 10px;
}
button#new-version {
    margin-left: 20px;
}
.layui-table.table_list tbody img {
    top: 12px!important;
}
.layui-table.table_list thead img {
    top: 2px!important;
}
.message {
    font-size: 17px!important;
    line-height: 61px!important;
    font-weight: 400;
}
.table-top{
    height: 60px;
}
.table_list.layui-table tr td{
    text-align: center;
}
.table_list.layui-table tr td:first-child{
    text-align: left;
}
.rightArea {
    background: #fff;
}
.fast-button{
    height: calc(100% - 145px) !important;
}
.layui-layer-msg .layui-layer-content{
    height: auto;
}