html,body{width: 100%;height: 100%;margin: 0}
/*----------- Ã¥Â¤Â´Ã©Æ’Â¨ ----------*/
.header-bar{position: relative;padding: 0 8px 0 1.2%;width:100%;height: 62px;box-shadow:0px 2px 14px 0px rgba(181,181,181,0.5);line-height: 49px;background: #ffffff;box-sizing: border-box;}
.header-bar .logo {float: left;height: 100%;width: 220px;background: url(../../img/front/manger-index-bg1.png) no-repeat left;background-size: auto 36px;}
.header-bar .logo a{display: block;height: 100%;width:140px;color: #1A1A1A;font-size:22px;text-indent: 30px;font-weight: bold;letter-spacing: 1px;line-height: 62px}
.header-bar .logo a:hover{text-decoration: none;}
.header-bar .container{padding:0 ;margin: 0;width: 100%;height: 100%;}
.header-without-search .user-photo{margin-left:4px;color: #fff;font-size: 14px;margin-top: 1px;}
.user-photo img{width: 32px;height: 32px;margin-right: 10px;}
.header-bar .ul-header{position: relative;margin-bottom:0;margin-right:3px;border-radius: 2px;float: right;height: 100%;  }
.header-bar .ul-header >li{position:relative;float: left;margin-left:10px;list-style: none;font-size:14px;height: 100%;}
.header-bar .ul-header >li:first-child{min-width: 100px;text-align: center;margin-right: 5px;}
.header-bar .ul-header >li >a{text-decoration: none;cursor: pointer;color:#555;line-height: 62px}
.header-bar .ul-header >li a:hover {color: #0188FB;}
.header-bar .ul-header .endMng{display: block;width: 80px;height: 30px;text-align: center;border: 1px solid #3c91fd;color: #2491fd;vertical-align: middle;transition: all .3s;border-radius: 2px;line-height: 30px;margin-top: 8px;}
.header-bar .ul-header li:hover .endMng{background:#3c91fd;color:#fff;}
.header-with-search .ul-types>a{display: block;height: 49px}
.header-with-search .ul-types>a, .ul-types .fold-more>a {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 90px;}
.header-bar{display: block}
#headerSearchBtn{cursor: pointer;}
#user.user-wrapper .layui-icon-triangle-d{font-size: 8px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);display: none}
.header-with-search{position: fixed;width: 100%;height: auto;background-color: #fff;padding-top: 12px;z-index: 900;box-shadow:0px 2px 14px 0px rgba(181,181,181,0.5);}
.header-with-search .container{padding: 0;height: 50px;margin: auto;}
.soundView{float: left;color: #555555;font-size: 22px;width: 100%;height: 36px;line-height: 36px}
.soundView img{margin-right: 10px}
.soundView .logo{position: absolute;top: 50%;transform: translateY(-50%);}
.soundView a:hover{color: #555}
.soundView > a{;color: #555555;font-family: PingFangSC-Semibold,PingFang SC;font-weight: 600}
.user-wrapper,.user-wrapper2{position: relative}
.user-wrapper2{transform: translateY(2px);}
.header-without-search .user-wrapper2{transform: translateY(0);}
.user-wrapper,.user-wrapper2,.user-wrapper .user-photo{float: right;font-size: 14px;line-height: 32px;margin-left: 1px;}
.user-wrapper2 .search{padding-left: 90px;margin-right: 30px;width:351px;height:40px;background:rgba(240,240,240,1);border-radius:2px;;border: solid 1px rgba(0,0,0,0)}
.user-wrapper2 .search:hover,.user-wrapper2 .search:focus{ border: solid 1px #2980FF;}
.user-wrapper2 .search{padding-left: 90px;border-radius:2px;border:1px solid rgba(0,0,0,0);}
.user-wrapper2 .search:hover{border:1px solid rgba(41,128,255,1)}
.user-wrapper2 > .search-wrapper-select{position: absolute;top: 0;left: 0;height: 40px;width: 84px;}
.user-wrapper2 > .search-wrapper-select > .layui-form-select{width: 100%}
dl.layui-anim.layui-anim-upbit{ position: relative;top: 2px !important;left: 0;width: 84px;}
.search-wrapper-select .layui-form-select dl dd{margin-bottom:5px;width: 100px;line-height:28px;height: 100%;color: #777;text-align: left;padding-left: 25px;transition: all .3s}

.search-wrapper-select .layui-form-select dl dd:hover{background-color: #F2F5F9;color: #2980FF}
.search-wrapper-select .layui-form-select dl dd.layui-this{background: #fff;color: #61687C;}
.search-wrapper-select .layui-form-select  .layui-edge{right: 12px;border-top-color: #687176;top: 22px;border-width: 4px;}
dl.layui-anim.layui-anim-upbit {position: absolute;min-width: 20px !important;height: auto;top: 44px !important;left: 0;font-size: 12px;}
#user{padding-right: 24px;margin-right: 0}
#user img{width: 27px}
.layui-form-select{position: absolute}

/*ä¸ªäººèœå•æ ·å¼*/
.user-wrapper .user-dropdown::before{display: none}
.user-wrapper .user-dropdown:after{display: none}
.user-wrapper .user-dropdown{position:absolute;width: 295px;height: 193px;right:0;padding-top:23px;border: 1px solid #E2E4E8;box-shadow: 0px 2px 4px 0px rgba(226,228,232,1);background: #fff;z-index: 100;display: none;top: 50px;}
.user-wrapper .user-dropdown::before{display: none}
.user-wrapper .user-dropdown:after{display: none}
.user-dropdown a{display: block;line-height: 36px;text-align: center;font-size: 12px;}
.user-dropdown a{cursor: pointer;color: #777;}
.user-dropdown a:focus{outline:none;}

.user-dropdown .photo-area{margin-left: 19px;margin-bottom: 20px;overflow:hidden;cursor: auto;}
.user-dropdown .photo-area a:hover,#user .photo-area .userPoint:hover{background: #fff;color: #2980FF}
.user-dropdown .function-area{width:259px;height: 35px;margin: auto}
.user-dropdown .logout-area{margin-top: 18px;height: 46px;border-top: solid 6px #F6F7FB;line-height: 43px}
#user .photo-area img{width: 50px;height: 50px;float: left;margin-right: 11px}
#user .photo-area .userName,#user .photo-area .userPoint{float: left;}
#user .photo-area .userName{height: 25px;line-height: 25px;color: #343434;font-size: 16px}
#user .photo-area .userPoint{position: relative;padding-left: 17px;margin-top: 6px;height: 13px;line-height: 13px;    text-align: left;width: 180px}
#user .photo-area .userPoint::before{content: "";position: absolute;left: 0;width: 13px;height: 13px;background-image: url("../../img/index/collection.svg");background-size: 100%}
.function-area a{float: left;;padding-left: 14px;width:127px;height:35px;background:rgba(248,250,252,1);border-radius:2px;}
.function-area .personal:before,.function-area .management:before{position: absolute;left: 0;top:50%;transform: translateY(-50%);background-size: 100%;    background-position: center;background-repeat: no-repeat;width: 12px;height: 14px;}
.function-area a:first-child{position: relative;margin-right: 5px}
.function-area a:last-child{position: relative;}
.function-area .personal:hover,.function-area .management:hover{color: #2980FF}
.function-area .personal,.function-area .management{position: relative;width: 100%;height: 100%}
.function-area .personal::before{content: "";background-image: url("../../img/index/personal.svg")}
.function-area .personal:hover::before{background-image: url("../../img/index/personal_hover.svg")}
.function-area .management::before{content: "";background-image: url("../../img/index/manage.svg")}
.function-area .management:hover::before{background-image: url("../../img/index/manage_hover.svg")}

.function-area a.dsiableManagement:hover{background-color: rgba(248,250,252,1);}
.function-area .dsiableManagement .management{cursor: not-allowed;color: #C8C8C8}
.function-area .dsiableManagement .management::before{background-image: url("../../img/index/disableManagement.svg")}
.function-area .dsiableManagement .management:hover::before{background-image: url("../../img/index/disableManagement.svg")}


#loginout{height: 100%;color: #343434}
#loginout:hover{color: #2980FF;background: inherit}
.user-dropdown s{    position: absolute;top: -20px;width: 298px;display: block;border-top: solid 20px rgba(0,0,0,0);}

.ipad-d-show{display: none}
.header-with-search .container{overflow: visible;}
.user-wrapper2 .search{padding-left: 80px;padding-right: 50px;color: #A3A5A7!important;line-height: 20px;padding-top: 10px;padding-bottom: 10px;}
.user-wrapper2 > .search-wrapper-select{position: absolute;top: 0;left: 0;height: 40px;width: 80px;}
.header-with-search .user-wrapper2 > .search-wrapper-select{/* top: 7px; */height: 40px;}
.header-with-search .user-wrapper2 > .search-wrapper-select .layui-edge{top: 22px}
.user-wrapper2 > .search-wrapper-select > .layui-form-select{width: 100%}
dl.layui-anim.layui-anim-upbit{ position: relative;top: 2px !important;left: 0;width: 84px;}
.search-wrapper-select .layui-form-select dl dd{width: 100%;padding: 0;text-align: center;}
body .header-with-search-2 li.user-wrapper2 .header-search .search-wrapper-select .layui-form-select .layui-input {
    padding-left: 17px !important;
    color: #777!important;
    font-size: 12px !important;
}
.search-wrapper-select .layui-form-select dl dd.layui-this:hover{background: #F2F5F9;}
/*---é¦–é¡µç¿»é¡µæ ·å¼æ·»åŠ ---*/
.header-bar .ul-header.sec-header{position: absolute;right: 0;top: 0;}
.header-bar .ul-header li.index-go{position:relative;width: 115px;margin-right: -10px;}
.header-bar .ul-header li.index-go .endMng i{font-size: 12px;margin-left: 8px;}
.header-bar .ul-header li.index-go:hover .endMng,
.header-bar .ul-header li.index-go .endMng{height: 48px;width: 100%;border: 0;line-height: 48px;background: #3c91fd;color: #fff;margin: 0;text-align: right;padding-right: 15px}
.header-bar .ul-header li.index-go .page-before{display: block;content: '';position: absolute;top: 0;left:0;z-index: 1;width: 80%;height: 48px;background: #fff;background: linear-gradient(245deg, transparent 1.5em, #fff 0);transition: all .3s ease;animation: paperW .5s ease-in-out;}
.header-bar .ul-header li.index-go .page-before::before {content: '';position: absolute;top: 0;right: 0;width: 1.73em;height: 4em;background: linear-gradient(240deg, transparent 58%, #fff 0);transform: translateY(-.5em) rotate(2deg) skew(3deg,31deg);transform-origin: bottom right;border-bottom-left-radius: inherit;box-shadow:-0.3em 0.2em 0.3em -0.1em #d3dbe6;;transition: all .3s ease}
.header-bar .ul-header li.index-go:hover .page-before{width: 25%;background: linear-gradient(245deg, transparent 1.5em, #fff 0);}
.header-bar .ul-header li.index-go:hover .page-before::before {width: 1.73em;height: 4em;background: linear-gradient(240deg, transparent 58%, #fff 0);transform: translateY(-.5em) rotate(2deg) skew(3deg,31deg);box-shadow: -0.3em 0.4em 0.5em -0.1em #bccadc;}
.header-with-search input{color: #777777;font-size: 12px}
.header-with-search input::-moz-placeholder {color: #999!important; opacity:1;;font-size: 12px}
.header-with-search input::-ms-input-placeholder{color: #999!important;opacity:1;;font-size: 12px}
.header-with-search input::-webkit-input-placeholder{color: #999!important;opacity:1;;font-size: 12px}
.search-wrapper-select{position: relative;z-index: 100;width: 55px;top: 0px;left: 9px;height: 32px;}

.search-wrapper2 .layui-unselect.layui-form-select,.layui-select-title,input.layui-input.layui-unselect{height: 100% !important;}
.search-wrapper-select2 dl.layui-anim.layui-anim-upbit {top: 30px !important;width: 74px !important;}
.layui-unselect.layui-form-select,.layui-select-title,input.layui-input.layui-unselect {height: 100%!important;line-height: 22px;}
.search-wrapper-select .layui-form-select .layui-input{width: 100%;padding-left: 33px;color: #61687C!important;border: 0;background: transparent;}
.ul-line{float:right;margin: 26px 0;width: 1px;height: 12px;background:#d9e1ef;}
.ul-types{float:right;}
.ul-types>a,.ul-types .fold-more{float:left;margin-left:8px;padding-right:10px;color:#3e5b82;font-size:14px;cursor: pointer;outline:none;}
.fold-more span{color:#3C91FD;}
.ul-types .fold-more:hover span{color:#3C91FD}
.fold-more span i{padding-left: 5px;font-size: 10px}
.ul-types>a:active,.ul-types>a:hover,.ul-types>a:focus{color:#3c91fd;border: 0;outline:none;}
.ul-types .fold-more{position:relative;text-align: left}
.ul-types .moreBox{display:none; position: absolute;top: 100%;left: -23px;padding-top: 10px;border: 1px solid #d1d1d1;border-top:0;box-shadow: 0 5px 10px 0 #d1d1d1;background: #fff;z-index: 100;width: 120px;}
.ul-types .moreBox a{ position: relative;display: block;height: 40px;width: 100%;padding: 0 20px;line-height: 40px;cursor: pointer;overflow: hidden;text-overflow: ellipsis;white-space:nowrap; }
.ul-types .moreBox a:after,.ul-types .moreBox a:before{content: '';display: none;position:absolute;left:0;width:100%;height:1px;background:#d1e7ff;}
.ul-types .moreBox a:after{top:0;}
.ul-types .moreBox a:before{bottom:0;}
.ul-types .moreBox .all{border-top:1px solid #eee;}
.ul-types .moreBox a:last-child:hover:after,.ul-types .moreBox a:last-child:hover:before{display:none;}
.ul-types a:focus{outline:none !important;}

.fold-more:hover .moreBox{display: block}
.curtain{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 990;display: none}
@media screen and (min-width:1280px) {
    .ul-types .moreBox a:hover{background:#eef5ff;color: #3c91fd;}
    .ul-types .moreBox a:hover:after,.ul-types .moreBox a:hover:before{display:block;}
    .ul-types .moreBox .all:hover{color:#3c91fd;}
    .ul-types .fold-more:hover .moreBox{display:block;}
}
@media screen and (max-width:1366px) {
    .header-bar,.header-bar .ul-header >li{height: 44px;line-height: 42px;}
    .header-bar .ul-header li.index-go{width: 105px}
    .header-bar .ul-header li.index-go .page-before{height: 37px;}
    .header-bar .ul-header li.index-go .endMng,.header-bar .ul-header li.index-go:hover .endMng{height:37px;line-height: 37px;}
    .header-bar .ul-header li.index-go .page-before::before{
        background: linear-gradient(240deg, transparent 58%, #fff 0);
        transform: translateY(-1.2em) rotate(-2deg) skew(2deg,27deg);
        box-shadow: -0.3em 0.2em 1em -0.1em #e3e6f7;
    }
    .ul-header .user-wrapper img{width: 20px !important;top: -1px;}
    .ul-header .user-photo{vertical-align: middle;}
    /*.header-bar .search-wrapper{line-height: 38px;}*/
    /*.header-bar .search-input{height:28px;top:5px;}*/
    .search-wrapper-select{position: relative;z-index: 100;width: 55px;top: -2px;left: 8px;}
    .header-bar .search-btn{right: calc(24px - 100%);}
    .header-bar .logo a {
        font-size: 16px;
        line-height: 44px;
        width: 110px;
    }
    .header-bar .ul-header >li >a{line-height: 42px}
    .header-bar {
        padding: 0 8px 0 9px;
        z-index: 9999;
    }

}


.layui-layer-btn .layui-layer-btn0{background:#3d92fd !important;border-color:#3d92fd !important;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{color:#adbbba !important;}
img.global-search {
    float: right;
    position: relative;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    margin-right: 16px;
    cursor: pointer;
    display: none;
}



@media screen and (max-width:1024px){
    .mainCon{padding-top:50px !important;}
    .header-bar .search-wrapper{width:320px;}
    /*.header-bar .search-input{width:100%;}*/
    .ul-line{margin:12px 0  }
    .header-bar .ul-header li.index-go .page-before {width: 25%;}
    .sec-ul-types{display: none}

}

@media screen and (max-width:767px){
    .layui-form-radio>i {margin-right: 2px;}
    .layui-form-radio * {font-size: 12px;}
    .layui-form-radio {  margin: 6px 0 0;padding-right: 2px;}
}

.support{
    width: 30%;
    float: left;
    margin-left: 20px;
}

@keyframes paperW {
    from{width: 100%}
    to{width: 80%}
}


.layui-select-title input { text-decoration: none; outline:none;blr:expression(this.onFocus=this.blur())!important;
}
/** æ–‡æœ¬è¾“å…¥æ¡†çš„ X  **/input::-ms-clear{display: none;}
/** å¯†ç è¾“å…¥æ¡†çš„ X  **/input::-ms-reveal{display: none;}

.ul-header  .message  {
    padding: 2px 30px ;
    height: 40px;

}

.ul-header  .message .top{text-align: center;height: 18px}
.ul-header  .message .bottom{text-align: center;font-size:9px;
    font-weight:400;
    line-height:16px;
    color:rgba(135,150,171,1);
    opacity:1;}
.index-integral {
    display: block;
    margin-right: 20px;
    padding-right: 5px;
    width: auto;
    height: 17px;
    background: rgba(255,173,91,1);
    opacity: 1;
    border-radius: 3px;
    line-height: 17px !important;
    position: relative;
    top: 50%;
    margin-top: -9px;
}
.index-integral span{
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:17px;
    color:rgba(255,255,255,1);
    opacity:1;
}
.search-input {
    margin-right: 12px;
    width: 243px;
    height: 26px;
    padding: 10px 12px 10px;
    outline: none;
    border-radius: 16px;
    border: 1px solid #D1DEED;
    padding-right: 30px!important;
}
.search-wrapper input{display: inline-block;margin-right: 8px;background: #F4F4F4;padding-left: 30px;border: 0;opacity: 1;border-radius: 1px;font-size: 14px;color: #A3A5A7;    position: relative;top:0;width: 100%;}
.search-wrapper:hover .search-input{border:none;}
.search-input:focus{border:none;}
.search-btn {
    height: 18px;
    width: 18px;
    position: relative;
    left: 5px;
    top: -25px;
    background: url(../../img/front/search.png) no-repeat center;
    background-size: 70% 70%;
    cursor: pointer;
}
/*.search-wrapper:hover .search-btn{background: url(../../img/front/search_hover.png) no-repeat center;background-size: 70% 70%;}*/
.search-wrapper {
    margin-top: 13px;
    width: 256px;
    height: 36px;
    float: right;
    margin-right: 20px;
}
.global-search-input{position:relative;width: 330px !important;height: 34px !important;background: #F0F0F0;border: 1px solid #F0F0F0;}
.global-search-input .search-input{height: 34px;width:320px;position: absolute;top:0px;padding-left: 69px;}
.global-search-input input{background: transparent !important;}
.global-search-input.focus{border:1px solid  #3d92fd; box-shadow: 0 0 3px rgba(61,146,253,0.5);}
div#headerSearchBtn {left: 300px;background-size: 80%;}
dl.layui-anim.layui-anim-upbit {position: absolute;padding-top:5px!important;width: 68px !important;height: auto;top: 21px !important;left: 0;font-size: 12px;}
.search-wrapper-select  dl.layui-anim.layui-anim-upbit{width: 68px !important;}
.user-dropdown a:before,.user-dropdown a:hover:after{
    background: none;
    height: 0;
    display: none;
}
a.user-name:hover{background: none !important;}
.user-name img{
    width: 20%;
    position: relative;
    top: -3px;
}
.move-confirm .layui-layer-content {
    height: calc(100% - 110px);
    font-size: 16px !important;
    background: url(../../js/img/confire-warn.png) no-repeat 15% 50%;
    text-indent: 18%;
    background-size: 23px;
    line-height: 50px !important;
}
.move-confirm {
    width: 400px;
    height: 200px;
}
.layui-layer .layui-layer-title {
    height: 53px;
    font-size: 16px;
    line-height: 53px;
    color: #222;
    border-bottom: 1px solid #E9EAEB;
    font-weight: bold;

}
.layui-layer-btn .layui-layer-btn1{
    width: 90px;
    height: 32px;
    line-height: 31px;
    border: 1px solid #DBDBDB !important;
    background: #fff !important;
    border-radius: 1px;
    color: #222;
    padding: 0;
    text-align: center;
    float: right;
}
/*å–æ¶ˆ*/
.layui-layer-btn .layui-layer-btn0 {
    width: 90px;
    height: 32px;
    line-height: 31px;
    color: #fff;
    border: 1px solid #2980FF !important;
    border-radius: 1px;
    background: #2980FF !important;
    padding: 0;
    text-align: center;
    float: right;
}

@media screen and (min-width: 1280px){
    .user-wrapper:hover .user-dropdown {
        display: block;
    }
}
.header-without-search .search-wrapper-select .layui-form-select  .layui-input{line-height: 40px}
.header-without-search,.header-with-search-2{position: relative;height: 49px;background: #31404C;}
.user-wrapper2 .search-wrapper-select .layui-form-select .layui-input{}
.header-without-search .soundView{float: left;width: 50%;}
.header-without-search .fr{float: right}
.header-without-search .fr li{float: right;margin-left: 28px;line-height: 49px}
.header-without-search .user-photo,.header-without-search .message{color: #fff;font-size: 14px; line-height: 49px;margin-top: 0;}
.header-without-search .message{opacity: 0.6}
.header-without-search .user-photo:hover,.header-without-search .message:hover{opacity: 1}
.header-without-search .user-wrapper-new img{margin-right: 8px}
.search-wrapper-select{border: 0;padding: 0}

.header-with-search-2 {padding-top: 8px;}
.header-with-search-2 .search-wrapper-select{}
.header-with-search-2 .user-wrapper2{margin-left: 20px;line-height: 20px;height: 100%}

.header-with-search-2 .container { height: 32px;margin: auto;}
.header-with-search-2 .user-photo,.header-with-search-2 .message{color: #fff;font-size: 14px;line-height: 36px;margin-top: 0;margin-left: 8px;}
.header-with-search-2 .message {opacity: 0.6;}
.header-with-search-2 .user-photo:hover,.header-with-search-2 .message:hover{opacity: 1}
.header-with-search-2  li.user-wrapper2 .header-search {position: relative;margin-right: 200px;}
.header-with-search-2  li.user-wrapper2 .header-search .layui-form.search-wrapper-select{position: absolute;top: 3px;left: 5px;height: 20px;line-height: 20px;}
.header-with-search-2  li.user-wrapper2 .header-search .search{background: transparent;border-color: #2980ff;border-radius: 16px;margin-top: 0;height: 27px;line-height: 16px;padding-top: 5px;padding-bottom: 5px;}
.header-with-search-2  li.user-wrapper2 .header-search #headerSearchBtn{position: absolute;top: 6px;right: 42px;}
.header-with-search-2  li.user-wrapper2 .header-search i.layui-edge{position: absolute;left: 50px !important;top: 12px;border-width: 4px;border-top-color: #687176;}
.header-with-search-2  li.user-wrapper2 .header-search .search-wrapper-select .layui-form-select .layui-input{width: 55px;padding-left: 12px;    color: #98a2bd!important;}
.header-with-search-2 .message{margin-right: 20px;line-height: 32px;}
.header-with-search-2  li.user-wrapper2 .header-search dl.layui-anim.layui-anim-upbit{top: 29px !important;}
.header-with-search-2  .layui-unselect.layui-form-select,.header-with-search-2  .layui-select-title,.header-with-search-2  input.layui-input.layui-unselect {height: 22px !important;line-height: 22px;}
.header-with-search-2 .user-wrapper2 > .search-wrapper-select .layui-edge{}
.user-wrapper2.pc-download,.header-without-search .user-wrapper2.pc-download{opacity:0.6;background: url("../../img/front/pc-download.png") no-repeat left;background-size: 21px auto;margin-left: 0}
.user-wrapper2.pc-download .message{color: #F4B345;text-indent: 20px;opacity: 1;padding-left: 0}
.user-wrapper2.pc-download:hover{opacity: 1}
.user-wrapper2.pc-download .message:hover{opacity: 1}
.header-without-search .user-wrapper2.pc-download .message{text-indent: 30px}

.header-with-search-2.fix{position: fixed;width: 100%;z-index: 10000}

/*修改密码弹窗*/
.changePwd .layui-layer-setwin .layui-layer-max,.changePwd .layui-layer-setwin .layui-layer-min{display: none}
@media only screen and (max-width: 1366px){
    .changePwd{width: 400px !important;}
}

/*搜索联想*/
div#keywordsAssociation {
    position: absolute;
    height: auto;
    width: 351px;
    max-height: 198px;
    overflow-y: auto;
    top: 39px;
    box-sizing: border-box;
    border-top: 0;
    z-index: 2;
    background: #fff;
    border-radius: 0 0 2px 2px;
    color: #61687C;
    font-size: 13px;
    box-shadow: 0px 3px 13px 0px #ECECEC;
}
div#keywordsAssociation{
    padding: 2px 25px 0;
}
div#keywordsAssociation li{
    line-height: 48px;
    border-bottom: 1px solid #F8F9FC;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div#keywordsAssociation li>em{
    color: #2980FF;
}
.input-hover{border: 2px solid #2090FF !important;border-right:0 }