<div class="btn-div">
    <a id="collectionToFolder" style="display:none">
        <button type="button"  class="collectBtn pdfBtn">
            <i class="iconfont"></i>
        </button>
        <div class="btn-message">收藏</div>
    </a>
    <a id="cancelCollection" style="display:none" title="取消收藏">
        <button type="button" class="favoriteBtn pdfBtn">
            <i class="iconfont"></i>
        </button>
        <div class="btn-message">已收藏</div>
    </a>

    <a id="dowLoadButton" style="display:none">
        <button type="button" class="downloadBtn pdfBtn">
            <i class="iconfont"></i>
        </button>
        <div class="btn-message">下载</div>
    </a>
    <a id="shareBtn">
        <button type="button" class="shareBtn pdfBtn">
            <i class="iconfont"></i>
        </button>
        <div class="btn-message">分享</div>
    </a>
</div>