<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/lib/jquery/jquery-1.10.2.min.js?v=${h_version}"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/lib/bootstrap/bootstrap.min.js?v=${h_version}"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/lib/bootstrap-table/bootstrap-table.js?v=${h_version}"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/lib/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=${h_version}"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/lib/layer/laydate/laydate.js?v=${h_version}"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/lib/layer/layer.js?v=${h_version}"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/js/common/common.js?v=${h_version}"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/lib/bootstrap/bootstrap-paginator.js?v=${h_version}"></script>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/js/Md5.js?v=${h_version}"></script>
