<div class="header-bar header-with-search ">
    <div class="container clearfix">
        <div class="logo"><a href="${ctxPath}/">&nbsp;</a></div>
        <ul class="ul-header sec-ul-header">
            <li class="user-wrapper">
                <!--<a class="user-name" href="${ctxPath}/">-->
                <a class="user-name" href="javascript:toLogin();">
                    <!--  <img src="${ctxPath}/static/resources/img/front/user-default-icon1.png">-->
                    <span target="_blank" class="user-photo" id="login" >登录</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="${ctxPath}/static/resources/js/front/share-header.js?v=${h_version}"></script>