.buttonDiv{text-align: center; }
.layui-form-label{width: 100px; }
.layui-col-md6{padding-left: 60px;}
.layui-col-md12{padding-left: 60px;}
.layui-form-item .layui-form-checkbox[lay-skin=primary]{margin-top: 0}
textarea:disabled {
    background: #f5f5f5;
}