.weadmin-body {
    height: 100%;
    box-sizing: border-box;
}
.tableBox{height: calc(100% - 50px);width: 100%}
select[multiple], select[size] {
    height: 245px !important;
    overflow: auto;
}

.layui-col-xs2 .layui-btn + .layui-btn {
    margin-left: 0;
    margin-top: 10px
}

.search-results1 em {
    color: #ff6664;
    margin-right: 2px;
    font-weight: bolder;
    font-style: normal;
}
.content{background: #fff;padding: 10px;}
th .layui-table-cell {text-align:center;}
.layui-table{width:100%;}
@media screen and (min-width:1698px){
    .buttonState {
        margin-top: 0!important;
        margin-left: 20px!important;
    }
    .setAwards-dialog {
        width: 300px !important;
    }
    .buttonInline{
        width: 100px!important;
    }
}